<div class='row' style='background-color: #eee;'>
  <div class='col-md-6'>
    Node Details
  </div>
  <div class='col-md-6'>
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <h1>1</h1>
  </div>
  <div class='col-md-6'>
    <h1>{{numNodeNodes}}</h1>
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    Each master node has:
  </div>
  <div class='col-md-6'>
    Each worker node has:
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <strong>vCPU</strong>&nbsp; {{masterVcpu}}
  </div>
  <div class='col-md-6'>
    <strong>vCPU</strong>&nbsp; {{nodeVcpu}}
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <strong>RAM</strong>&nbsp; {{masterRam}} GB
  </div>
  <div class='col-md-6'>
    <strong>RAM</strong>&nbsp; {{nodeRam}} GB
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <strong>Disk</strong>&nbsp; {{masterDisk}} GB
  </div>
  <div class='col-md-6'>
    <strong>Disk</strong>&nbsp; {{nodeDisk}} GB
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    &nbsp;
  </div>
  <div class='col-md-6'>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{storageSize}} GB for Docker
  </div>
</div>
