<div class='col-sm-5 col-md-6 col-lg-6'>
  <div class='label-needed-available'>
    <strong>{{label}}</strong>
  </div>
  <div class='amt-needed'>
    {{needed}} {{suffix}}
  </div>
  <div class="needed-available-bar {{progressBarClass}}" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow={{percentProgressInt}} style="width: {{styleWidth}};">
    &nbsp;{{!percentProgress}}
  </div>
  <div class='amt-available'>
    {{available}} {{suffix}}
  </div>
</div>

<div class='col-md-6 ose-help-msg'>
  Maximum amount of RAM assigned
</div>
