<div class='col-sm-1 col-md-1 col-lg-1'>
  <div class='label-needed-available'>
    <strong>{{label}}</strong>
  </div>
</div>

<div class='col-sm-4 col-md-5 col-lg-5'>
    <div class='light-gray-background'>
    &nbsp;333
    </div>
    <div class="needed-available-bar {{progressBarClass}}" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow={{percentProgressInt}} style="width: {{styleWidth}};">
      &nbsp;{{!percentProgress}}
    </div>
    <div class='amt-needed'>
      {{needed}} {{suffix}}
    </div>
    <div class='amt-available'>
      {{available}} {{suffix}}
    </div>
  </div>
</div>

<div class='hidden-sm hidden-xs col-md-6 col-lg-6 ose-help-msg'>
  Maximum amount of RAM assigned
</div>
