<div class='col-sm-5 col-md-6 col-lg-6 env-summary-needed-available'>
  <div style='width: 40px; display: inline; float: left;'>
    <strong>{{label}}</strong>
  </div>
  <div class={{progressBarClass}} role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow={{percentProgressInt}} style="width: {{styleWidth}};">
    <div style='text-align: left'>
      {{needed}} {{suffix}}
    </div>
  </div>
  <div class='amt-available'>
    {{available}} {{suffix}}
  </div>
</div>

<div class='col-md-6 ose-help-msg'>
  Maximum amount of RAM assigned
</div>
