<td> {{subscription.product_name}} </td>
<td> {{subscription.contract_number}} </td>
<td class="text-center"> {{moment-format subscription.start_date}} </td>
<td class="text-center"> {{moment-format subscription.end_date}} </td>
<td class="text-center"> {{subscription.quantity_attached}} </td>
<td class="text-center"> {{subscription.total_quantity}} </td>
