<br />
{{#if showAlertMessage}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-success'>
          <i class="fa fa-2x fa-check-circle-o green-circle"></i>
          &nbsp;
          {{selectedOrganization.name}} added successfully.
      </div>
    </div>
  </div>
{{/if}}

<div class="row">
  <div class='col-md-5'>
    <p>
      Choose an organization for this deployment. Organizations divide hosts into logical groups based on ownership, purpose, content, security level, or other divisions.
    </p>
  </div>
  <div class='col-md-4'>
    <div class='pull-right'>
      {{#em-modal-toggler modal-id="newOrganizationModal" class="btn btn-primary"}}
        New Organization
      {{/em-modal-toggler}}
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class='col-md-9'>
    <table class="table table-striped">
      <thead>
        <th></th>
        <th>Name</th>
        <th>Description</th>
      </thead>
      <tbody>
        {{#each org in organizations}}
          {{tr-organization org=org
                            selectedOrganization=selectedOrganization
                            action="selectOrganization"}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<br />
<br />

<div class="row">
  <div class='col-md-9'>
    <div class='pull-right'>
        {{#link-to satelliteTabRouteName class='btn btn-default'}}
          Back
        {{/link-to}}
        {{#link-to lifecycleEnvironmentTabRouteName
                   disabled=disableNextOnConfigureOrganization
                   class='btn btn-primary'}}
            Next
        {{/link-to}}
    </div>
  </div>
</div>

{{#em-modal-form configName="bs" id="newOrganizationModal" on-submit="createOrganization" in-async=async}}

    {{#em-modal-title}}
        {{#em-modal-toggler class="close"}}
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        {{/em-modal-toggler}}
        <h4 class="modal-title">Create Organization</h4>
    {{/em-modal-title}}

    {{#em-modal-body}}
        {{#if async}}
            Submitting, please wait...
        {{else}}
            {{text-f label="Organization Name" value=defaultOrgName labelSize='col-md-4' inputSize='col-md-8' }}
            {{!text-f label="Label" value=orgLabelName labelSize='col-md-4' inputSize='col-md-8'}}
            {{textarea-f label="Description (Optional)" value=fields_org.description labelSize='col-md-4' inputSize='col-md-8'}}
        {{/if}}
    {{/em-modal-body}}

    {{#em-modal-footer}}
        <button type="submit" class="btn btn-primary" {{bind-attr disabled=async}}>Submit</button>
    {{/em-modal-footer}}

{{/em-modal-form}}
