<div class="row">
  <div class='col-md-9'>

    <p>
    Select a lifecycle environment for this RHCI deployment. The application lifecycle is divided into lifecycle environments, which mimic each stage of the lifecycle. These lifecycle environments are linked in an environment path. You can promote content along the environment path to the next stage when required. For example, if development completes on a particular version of an application, you can promote this version to the testing environment and start development on the next version.
    </p>

    <p>
        {{selectedOrganzation}}
        {{controllers.configure-organization.selectedOrganzation}}
    </p>
    {{#each env in nonLibraryEnvironments itemController="lifecycle-environment"}}
    <div class="path-selector">
      <ul class="path-list">
        <li class="path-list-item">
          <label class="path-list-item-label">
            Library
          </label>
        </li>
        {{env-path-list-item env=env selectedEnvironment=selectedEnvironment}}
        <li class="path-list-item">
          <label class="path-list-item-label" style='color:gray;'>
            &nbsp;
          </label>
        </li>
      </ul>
    </div>
    {{else}}
      <div class='alert alert-info'>
        There are no lifecycle environments for organization selected.
      </div>
    {{/each}}

    <div style='margin-top:15px;'>
      <button class='btn btn-default' {{action 'showModal' 'newEnvironmentModal'}}>
        New Environment Path
      </button>
    </div>

    TODO API to create Lifecycle Env

    <br />
    <br />
    <div style='float:right'>
      {{#link-to 'configure-organization' class='btn btn-default'}}Back{{/link-to}}
      {{#link-to 'rhev' class='btn btn-primary' disabled=disableAll}}Next{{/link-to}}
    </div>

  </div>
</div>

{{#bs-modal name="newEnvironmentModal" fade=true footerButtonsBinding="rhciNewEnvButtons" title="Create New Environment"}}
  {{partial 'new-environment'}}
{{/bs-modal}}