<br />
<h1>New {{nameRHCI}} Deployment: {{name}}</h1>

ID: {{id}}
<br />
Desc: {{description}}
<br />
Org: {{organization.name}} &nbsp; ({{organization.id}})
<br />
Env: {{lifecycle_environment.name}} &nbsp; ({{lifecycle_environment.id}})
<hr />
<div class="wizard-block">

  <div class="white-wizard-line"></div>
  <div class="wizard-line"></div>

  <ul class="deployment-wizard">
    {{wizard-item num=1 name=nameSatellite routeName='satellite' isDisabled=false}}

    {{#if isRhev}}
      {{wizard-item num=stepNumberRhev name=nameRhev routeName='rhev' isDisabled=isDisabledRhev}}
    {{/if}}

    {{#if isOpenStack}}
      {{wizard-item num=stepNumberOpenstack name=nameOpenStack routeName='openstack' isDisabled=isDisabledOpenstack}}
    {{/if}}

    {{#if isCloudForms}}
      {{wizard-item num=stepNumberCloudForms name=nameCloudForms routeName='cloudforms' isDisabled=isDisabledCloudForms}}
    {{/if}}

    {{#unless isUpstream}}
      {{wizard-item num=stepNumberSubscriptions name='Subscriptions' routeName='subscriptions' isDisabled=isDisabledSubscriptions}}
    {{/unless}}

    {{wizard-item num=stepNumberReview name='Review' routeName='review' isDisabled=isDisabledReview}}
    {{controllers.subscriptions/select-subscriptions.disableSubscriptionsNext}}
  </ul>
</div>

{{outlet}}
