<br />
<h1>New {{nameRHCI}} Deployment: {{deploymentName}}</h1>

<ul class="wizard">
  {{#link-to 'satellite' tagName='li'}}1. {{nameSatellite}}{{/link-to}}
  {{#if isRhev}}
    {{#link-to 'rhev' tagName='li'}}{{stepNumberRhev}}. {{nameRhev}}{{/link-to}}
  {{/if}}
  {{#if isOpenStack}}
    {{#link-to 'openstack' tagName='li'}}{{stepNumberOpenstack}}. {{nameOpenStack}}{{/link-to}}
  {{/if}}
  {{#if isCloudForms}}
    {{#link-to 'cloudforms' tagName='li'}}{{stepNumberCloudForms}}. {{nameCloudForms}}{{/link-to}}
  {{/if}}
  {{#link-to 'subscriptions' tagName='li' disabled=disableReview}}{{stepNumberSubscriptions}}. Subscriptions{{/link-to}}
  {{#link-to 'review' tagName='li' disabled=disableReview}}{{stepNumberReview}}. Review{{/link-to}}
</ul>

{{outlet}}
