{{#if hasUpstreamConsumerUuid}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-info rhci-alert'>
          This deployment already has a subscription management application <strong>{{upstreamConsumerName}}</strong> assigned to it.
      </div>
    </div>
  </div>
{{else if hasOrganizationUpstreamConsumerUUID}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-info rhci-alert'>
          There is already a manifest uploaded for your organization: <strong> {{organizationUpstreamConsumerName}}</strong>
      </div>
    </div>
  </div>
{{/if}}

{{#if showErrorMessage}}
  <div class="row">
    <div class='col-md-9'>
      <div class='alert alert-danger rhci-alert'>
          <i class="fa fa-2x fa-exclamation-triangle errorForValidation"></i>
          &nbsp;
          {{errorMsg}}
      </div>
    </div>
  </div>
{{/if}}

<div class='row'>
  <div class='col-md-9'>
    <p>
      Select a content provider for this RHCI deployment.
    </p>
    <div class='ident-radio'>
      {{#radio-button value="redhat_cdn"
                      groupValue=contentProviderType
                      changed="providerTypeChanged"
                      id='redhat_cdn'
                      disabled=isStarted}}
        <span class="{{if isStarted 'disabled'}}">
          Red Hat CDN
        </span>
      {{/radio-button}}

      {{#unless isDisconnected}}
          {{#if model.isAuthenticated}}
            <div class="row">
              <div class='col-md-9'>
                <div class='alert alert-success rhci-alert'>
                    <i class="fa fa-2x fa-check-circle-o green-circle"></i>
                    &nbsp;
                    You are already successfully authenticated as <strong>{{model.identification}}</strong> with the Red Hat Customer Portal.
                    <p style='margin-left:30px;'>
                      You may <a {{action 'logoutPortal'}}>logout</a> and then login as a different user.
                    </p>
                </div>
              </div>
            </div>
          {{else}}

          <div class='row'>
            <div class='col-md-9'>
              <br />
              Enter your Red Hat account information.
              <br />
              <br />
              <form class="form form-horizontal">
                <!-- invisble input password is hack to remove chrome autocomplete -->
                <input style="display:none">
                <input type="password" style="display:none">
                {{text-f label="Red Hat login" value=model.identification}}
                {{text-f label="Password" value=password type='password'}}

                  {{#base-f}}
                    <a href='https://www.redhat.com/wapps/sso/lostPassword.html' target='_blank'>
                      Forgot your login or password?
                    </a>
                  {{/base-f}}
              </form>
            </div>
          </div>
          {{/if}}
      {{/unless}}

    </div>

    <div class='ident-radio'>
      {{#radio-button value="disconnected"
                      groupValue=contentProviderType
                      changed="providerTypeChanged"
                      id='disconnected'
                      disabled=isStarted}}
      <span class="{{if isStarted 'disabled'}}">
        Disconnected
      </span>
      {{/radio-button}}

      {{#if isDisconnected}}
          {{text-f label="Manifest Base URL" value=cdnUrl disabled=false}}
          {{#base-f}}
            {{file-f title='Upload'}}
            <br />
            {{button-f title='Upload' action='uploadManifest'}}
          {{/base-f}}
      {{/if}}
    </div>

  </div>
</div>

{{#if isDisconnected}}

    {{cancel-back-next backRouteName=backRouteNameonCredentials
                       disableBack=false
                       nextRouteName='subscriptions.review-subscriptions'
                       disableNext=false
                       parentController=controller
                       disableCancel=controllers.deployment.isStarted}}

{{else}}

    {{#cancel-back-next backRouteName=backRouteNameonCredentials
                        disableBack=false
                        parentController=controller
                        disableCancel=controllers.deployment.isStarted}}
        {{#button-f disabled=disableCredentialsNext action=actionCredentialsNext}}
            {{nextButtonTitle}} <i class="fa fa-angle-right"></i>
        {{/button-f}}
    {{/cancel-back-next}}

{{/if}}
